ul {
  /* list-style-type: square; */
  list-style-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Emoji_u263a.svg");
  list-style-position: inside;
}

ol {
  list-style-type: lower-roman;
}

.spaced-list {
  list-style-type: none;
  padding-left: 0;
}

.spaced-list li {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  line-height: 1.6;
}
