.column {
  float: left;
  width: 33.33%;
}

@media screen and (max-width: 768px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .column {
    width: 100%;
    float: none;
  }
}
