.box {
  /* Content dimensions */
  width: 200px;
  height: 100px;

  padding: 20px; /* Space inside the box */
  border: 5px solid #333; /* Border thickness and color */
  margin: 30px; /* Space outside the box */

  background-color: #f4f4f4; /* Background color */
}
