a:link {
  text-decoration: none; /* Remove underline */
  color: pink;
}

a:hover {
  background-color: black;
  color: white;
}

a:active {
  background-color: white;
  color: black;
  font-weight: bold;
}
