.header {
  background-image: url("/uploads/media/default/001/03/sunflowers_sunset_full.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  text-align: center;
  color: white;
  padding-top: 100px;
}
