.flex-container {
  display: flex;
  background: #f7f7f7;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  max-width: 600px;
  border: 2px solid #ccc;
}

.item {
  padding: 20px;
  border: 1px solid #ccc;
  margin: 5px;
  flex-grow: 1;
  width: 200px;
  flex-shrink: 1;
  flex-basis: 100px;
  background: #cccccc; /* Item background color for visibility */
}

.item.special {
  align-self: flex-start;
}
