.flex-container {
  display: flex;
  align-items: center;
  height: 100px;
  background: #e3e3e3;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Additional styles for visibility */
.flex-container div {
  padding: 10px;
  background: darksalmon;
  width: 100px;
  border: 1px solid;
}
