.flex-container {
  display: flex;
  background: #f7f7f7;
  padding: 10px;
}

.item {
  flex: 1 2 150px; /* flex-grow | flex-shrink | flex-basis */
  padding: 20px;
  border: 1px solid #ccc;
  margin: 5px;
}
